@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
html, body, #mapid {
     height: 100%;
     width: 100%;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #d34848;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #d34848;
}

.searchTerm:focus{
  color: #d34848;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #d34848;
  background: #d34848;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{

  position: absolute;
  top: 10%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
  z-index: 50000;
}