@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
html, body, #mapid {
     height: 100%;
     width: 100%;
}
.search {
  top-margin: 0;
  width: 100%;
  position: relative;
  display: flex;
}
.displayBand {
  width: 100%;
  position: relative;
  display: flex;
  bottom-margin: 0;
}
.displayText {
  width: 100%;
  border: 3px solid #76B8E8;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #fff;
  font-size: 0.8em;
  background: #76B8E8;
  border-radius: 5px 5px 5px 5px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #76B8E8;
  border-right: none;
  padding: 5px;
  height: 20px;
  outline: none;
  color: #76B8E8;
}

.searchTerm:focus{
  color: #76B8E8;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #76B8E8;
  background: #76B8E8;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{

  position: absolute;
  top: 6%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
  z-index: 50000;
}